this is an example template with placeholder values 
to know what they need to fill in, this .env file lives in the backend folder:

DB_HOST=localhost
DB_PORT=5432(or whichever port number your local postgresql is using)
DB_NAME=medtracker
DB_USER=postgres
DB_PASSWORD=your_password_here
GOOGLE_PLACES_API_KEY=your_key_here
JWT_SECRET=your_secret_here

^^^^^^^^
....this is an example of your .env file

add the following into your .gitignore file that lives in the root of project:
    .DS_Store
    backend/build/
    backend/.env
    frontend/.env
    *.env